%Erlang
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

%deps
{deps, [
    %% My repository.
    {tentacles_server, ".*", {git, "git://github.com/alexdesousa/tentacles_server.git", "HEAD"}},
    %% External repositories.
    {boss_db, ".*", {git, "git://github.com/ChicagoBoss/boss_db.git", {tag, "v0.8.10"}}},
    {proper,  ".*", {git, "git://github.com/manopapad/proper.git",    "HEAD"}}
]}.

%lager
{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.

%boss_db
{plugin_dir, ["deps/boss_db/priv/rebar"]}.
{plugins, [boss_db_rebar]}.

{boss_db_opts, [
    {model_dir, "src/model"}
]}.

%tentacles
{tentacles, [
    {tentacles_hooks, enode},
    {tentacles_enode_controller_max_age, infinity}
]}.
