%Erlang
{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform}
]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.

%deps
{deps, [
    %% My repository.
    {tentacles_server, ".*", {git, "git://github.com/alexdesousa/tentacles_server.git", "HEAD"}},
    %% External repositories.
    {boss_db, ".*", {git, "git://github.com/ChicagoBoss/boss_db.git", {tag, "v0.8.10"}}}
]}.

%boss_db
{plugin_dir, ["deps/boss_db/priv/rebar"]}.
{plugins, [boss_db_rebar]}.
